!!! 5
html(lang='en')
  head
    title= title
    -for script in scripts
      script(type='text/javascript',src=script)
    -for style in styles
      link(rel='stylesheet',type='text/css',href=style)
    link(href='http://fonts.googleapis.com/css?family=Text+Me+One',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Antic+Slab',rel='stylesheet',type='text/css')

    script(id="quoteTmpl",type="text/x-jsrender")
      | 
      | {{for quotes}}<li class="quote">{{:quote}}</li>{{/for}}
      | 

  body!= body
    