form(action='/', method='get')
  #loginContainer
    h2 Welcome to Say What
    p Username
      input(type='text', name='username')
    p Password
      input(type='text', name='password')
    p 
      input(type='submit', value='login')